<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <%-include('nav.ejs') %>
    <p><%= user.id %>의 마이페이지입니다.%></p>
  </body>
</html>
